@using TherapyCorner.Portal.Models
@using TherapyCorner.Portal.ResourceText;
@using www.therapycorner.com.account;

@{
    ViewBag.Title = SharedPages.PendingValidations;
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}
<link type="text/css"  href="~/Content/CredentialValidationStyles.css" rel="stylesheet"/>
<h2 class="breadcrumb">@Html.ActionLink(SharedPages.Staff, "index", "staff") &gt; @SharedPages.PendingValidations</h2>

<div class="scrollTableContainer CredTable">
    <div class="scrollTableArea" style="height:600px">
        <table class="scrollable sortable">
            <thead>
                <tr>
                    <th><div class="tdSingleButton"></div></th>
                    <th><div class="NameText"><a href="#">@Dictionary.Name</a></div></th>
               <th><div class="NameText"><a href="#">@Dictionary.Type</a></div></th>
                    <th class='HideSmall'><div class="IdText"><a href="#">@www.therapycorner.com.account.ResStrings.Dictionary.CredentialId</a></div></th>
                    <th class='HideMedium'><div class="DateText"><a href="#">@www.therapycorner.com.account.ResStrings.Dictionary.ValidFrom</a></div></th>
                    <th class='HideMobile'><div class="DateText"><a href="#">@www.therapycorner.com.account.ResStrings.Dictionary.ValidTo</a></div></th>
                    <th class='HideMedium'><div class="IdText"></div></th>
                    <th><div class="DateText"></div></th>
                </tr>
            </thead>
            <tbody id="tbCredentials"></tbody>
        </table>
        </div>
    </div>

<div id="modalVerifyCred" style="display:none" title="@CredentialPages.Verify">
    <p>@CredentialPages.VerifyInstr  </p>
    <ul>
        <li><label>@Dictionary.Name:</label><span id="verifyCredName"></span></li>
       <li><label>@Dictionary.Type:</label><span id="verifyCredType"></span></li>
        <li><label>@www.therapycorner.com.account.ResStrings.Dictionary.ValidTo:</label><span id="verifyCredValid"></span></li>
        <li><label>@www.therapycorner.com.account.ResStrings.Dictionary.CredentialId:</label><span id="verifyCredId"></span></li>

    </ul>
</div>
<div id="modalCredMsg" style="display:none" title="@CredentialPages.Msg">
    <p>@CredentialPages.MsgInstr  </p>
    <ul>
        <li><label>@Dictionary.Name:</label><span id="verifyCredName"></span></li>
 <li><label>@Dictionary.Type:</label><span id="msgCredType"></span></li>
        <li><label>@www.therapycorner.com.account.ResStrings.Dictionary.ValidTo:</label><span id="msgCredValid"></span></li>
        <li><label>@www.therapycorner.com.account.ResStrings.Dictionary.CredentialId:</label><span id="msgCredId"></span></li>

    </ul>
    <div>
        <textarea class="form-control" id="CredentialMsg"></textarea>
    </div>
</div>

<div id="modalIgnoreCred" style="display:none" title="@CredentialPages.Ignore">
    <p>@CredentialPages.IgnoreInstr  </p>
    <ul>
        <li><label>@Dictionary.Name:</label><span id="ignoreCredName"></span></li>
        <li><label>@Dictionary.Type:</label><span id="ignoreCredType"></span></li>
        <li><label>@www.therapycorner.com.account.ResStrings.Dictionary.ValidTo:</label><span id="ignoreCredValid"></span></li>
        <li><label>@www.therapycorner.com.account.ResStrings.Dictionary.CredentialId:</label><span id="ignoreCredId"></span></li>

    </ul>
</div>

<div id="modalWatchCred" style="display:none" title="@CredentialPages.Watch">
    <p>@CredentialPages.WatchInstr  </p>
    <ul>
        <li><label>@Dictionary.Name:</label><span id="watchCredName"></span></li>
        <li><label>@Dictionary.Type:</label><span id="watchCredType"></span></li>
        <li><label>@www.therapycorner.com.account.ResStrings.Dictionary.ValidTo:</label><span id="watchCredValid"></span></li>
        <li><label>@www.therapycorner.com.account.ResStrings.Dictionary.CredentialId:</label><span id="watchCredId"></span></li>

    </ul>
</div>
        @section scripts
{
            @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/StaffCredentialsScript.js"></script>
            <script>
    $(document).ready(function () {
        InitializeCredentials("@Url.Action("pendingcredentials")", "@Url.Action("image","credential")", "@Url.Content("~/images/magnify.png")", "@Url.Action("ignore","credential")", "@Url.Action("watch","credential")", "@CredentialPages.Ignore", "@CredentialPages.Watch", true, "@Url.Action("verify","credential")", "@Url.Action("quickmessage","credential")", "@Url.Content("~/images/check.png")", "@Url.Content("~/images/msg.png")");
                          });
</script>

        }

