@using TherapyCorner.Portal.ResourceText;
@model SoundPower.ErrorTracking.BaseException

@{
    Layout = null;
}

<h2 style="color:red">@Dictionary.Error.ToUpper() </h2>
<p>@SharedPages.ErrorNotification</p>
<p>
    <label>@Dictionary.Number:</label>@Model.UniqueId
    <br /><label>@Dictionary.Message: </label>@Model.Message
</p>
