@using TherapyCorner.Portal.Models
@using TherapyCorner.Portal.ResourceText;


@model ValidationCode
@{
    ViewBag.Title = ProfilePages.ForgotPassword;
    Layout = "~/Views/Shared/_LayoutNL.cshtml";
    string eml = ViewBag.Email;
    string ph = ViewBag.Mobile;
}

<h2>@ProfilePages.ForgotPassword</h2>

<section>

    @using (Html.BeginForm("forgotpasswordconfirm", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.ValidationId)
        <div class="form-group">
            @Html.LabelFor(m => m.Code)
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", maxlength = 20 })
            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <button style="margin-left:200px" type="submit">@Dictionary.Submit</button>
        </div>
    }
</section>
<h3 style="text-align:center">@Html.ActionLink(ProfilePages.Login, "login")</h3>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")


}