@using TherapyCorner.Portal.Models
@using TherapyCorner.Portal.ResourceText;


@model www.therapycorner.com.account.MessageContracts.CreateVerificationRequest 
@{
    ViewBag.Title = ProfilePages.ForgotPassword;
    Layout = "~/Views/Shared/_LayoutNL.cshtml";
    string eml = ViewBag.Email;
    string ph = ViewBag.Mobile;
}

<h2>@ProfilePages.ForgotPassword</h2>
<p>@ProfilePages.ForgotPasswordInstr2</p>
<section>

    @using (Html.BeginForm("forgotpasswordcontact", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
        @Html.Hidden("Email",eml)
        @Html.Hidden("Mobile",ph)
        <div class="form-group">
            <input type="radio" name="ByEmail" value="true" checked/> @string.Format(ProfilePages.ForgotEmail,eml) <br/>
            @if (!string.IsNullOrWhiteSpace(ph))
            {
                <input type="radio" name="ByEmail" value="false" checked /><span>
                    @string.Format(ProfilePages.ForgotMobile, ph) 
            </span> 

            }

        </div>

            <div class="form-group">
                <button style="margin-left:200px" type="submit">@Dictionary.Continue</button>
            </div>
    }
</section>
<h5 >
    If the contact choices do not seem to match what you believe them to be for your user account, use the forgot login form to have your login id emailed to you to make sure you have the correct id.
</h5>
<h4 style="text-align:center">@Html.ActionLink(ProfilePages.ForgotId, "forgotid")</h4>
<h3 style="text-align:center">@Html.ActionLink(ProfilePages.Login, "login")</h3>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")


}




