@using TherapyCorner.Portal.Models
@using TherapyCorner.Portal.ResourceText;


@model ChangePasswordModel
@{
    ViewBag.Title = ProfilePages.ForgotPassword;
    Layout = "~/Views/Shared/_LayoutNL.cshtml";

}

<h2>@ProfilePages.PasswordExpired</h2>
<p>@ProfilePages.PasswordExpInstr</p>
<section>

    @using (Html.BeginForm("passwordexpired", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", maxlength = 20, autocomplete="off" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RptPassword)
            @Html.PasswordFor(m => m.RptPassword, new { @class = "form-control", maxlength = 20, autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.RptPassword, "", new { @class = "text-danger" })

        </div>
            <div class="form-group">
                <button style="margin-left:200px" type="submit">@Dictionary.Continue</button>
            </div>
    }
</section>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")


}

